/* General */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--light2blue);
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(var(--lightblue) 0%, var(--light3blue) 50%, var(--light2blue) 100%);
}

:root{
    --pink: #ff74a4;
    --violet: #9f6ea3;
    --lightblack: #515c6f;
    --white: #fff;
    --darkwhite: #cecaca;
    --pinkshadow: #ffcbdd;
    --lightbshadow: #00000026;
    --black: #060515;
    --lightblue: #c2c2ff;
    --light2blue: #a7a1f8;
    --light3blue: #847bdd;
    --light4blue: #272a56;
}

.container{
    position: absolute;
    padding: 30px 20px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: var(--light4blue);
}

/* Image banner */
.banner{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

/* Description */
.description{
    max-width: 300px;
    width: 300px;
}

.description i{
    color: var(--lightblue);
}

.description h1{
    margin-bottom: 5px;
    font-size: 1.5em;
    color: var(--lightblue);
}

/* Duration */
.duration{
    max-width: 300px;
    width: 300px;
    margin-top: 25px
}

.duration .bar{
    max-width: 300px;
    width: 300px;
    height: 6px;
    border: 1px solid var(--black);
    background-color: var(--light2blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.duration .bar progress{
    height: 6px;
    width: 0;
}

.duration .bar .point{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: -5px;
    cursor: pointer;
    background-color: var(--lightblue);
}

/* Time */
.time{
    display: flex;
    width: 300px;
    justify-content: space-between;
    color: var(--lightblue);
}

/* Controls */
.controls{
    display: flex;
    width: 300px;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
}

.controls i{
    cursor: pointer;
}

.controls .fa-step-forward{
    margin-right: 10px;
}

.controls .fa-step-backward{
    margin-left: 10px;
}

.controls .button-play, .controls .button-pause{
    font-size: 60px;
    margin: 0 10px;
}

.controls .button-pause{
    display: none;
}

.controls .arrow{
    font-size: 40px;
}
